.score-highlight, .score-picture-highlight {
    display: flex;
    flex-direction: column;
    @include vertical-space($vertical-spacing);
    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 60px;
    }
	.score-highlight-header {
        font-family: $brainjocks-font-secondary;
        font-size: 32px;
        font-weight: 600;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 30px;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 45px;
            line-height: 55px;
        }
    }

    img {
        display: none;
    }

    img[src*='/'] {
        display: block;
        max-width: 50%;
        margin: 0 0 30px;
    }
    .caption {
        padding: 0;
        h2 {
            font-family: $brainjocks-font-secondary;
            font-size: 32px;
            font-weight: 600;
            line-height: 42px;
            margin-top: 0;
            @include vertical-space($vertical-spacing);
            @media screen and (min-width: $screen-sm-min) {
                font-size: 45px;
                line-height: 55px;
            }
        }
        .score-highlight-body {
            font-family: $brainjocks-font-primary;
            font-size: 17px;
            font-weight: normal;
            line-height: 26px;
            margin-top: 0;
            margin-bottom: 20px;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                margin-bottom: 20px; 
            }
        }
    }
    &.quote {

        img {
            display: none;
        }

        img[src*='/'] {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .caption {
            position: relative;
            h2 {
                font-family: $brainjocks-font-secondary;
                font-weight: normal;
            }
        }
    }
    &.over-dark {
        color: $brainjocks-white;
        padding: 0;
        background-color: transparent;
        @include vertical-space($vertical-spacing);
        .caption {
            h2 {
                color: $brainjocks-white;
            }
            .score-highlight-body {
                color: $brainjocks-white;
            }
        }
    }
    &.left-energy-bar {
        margin-left: 6px;
        @media screen and (min-width: $screen-sm-min) {
            margin-left: 0;
        }
        .caption {
            h2 {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 11px;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: calc(100% - 19px);
                    background: $brainjocks-primary;
                    transition: all .5s ease;
                    @media screen and (min-width: $screen-sm-min) {
                        top: 12px;
                        height: calc(100% - 20px);
                    }
                }
            }
        }
        &.active {
            .caption {
                h2 {
                    &:before {
                        left: -21px;
                        width: 6px;
                    }
                }
            }
        }
    }
    &.jobs {
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 70px;
        background: $brainjocks-white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        .score-highlight-header {
            color: $brainjocks-white;
            font-family: $brainjocks-font-primary;
            font-size: 28px;
            font-weight: bold;
            line-height: 40px;
            padding: 30px 30px 30px 30px;
            margin-bottom: 0;
            background-color: $brainjocks-default;
        }
        .caption {
            padding: 30px 30px 60px;
            background: $brainjocks-white;
            .score-highlight-body {
                margin: 0;
                p {
                    margin-bottom: 30px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .score-call-to-action {
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
    }
    &.news {
        position: relative;
        display: block;
        padding-bottom: 70px;
        background-color: $brainjocks-white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

        img {
            display: none;
        }

        img[src*='/'] {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        .caption {
            padding: 0 30px 0 30px;
            h2 {
                font-family: $brainjocks-font-primary;
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;
                margin-bottom: 20px;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 40px;
                    margin-bottom: 30px;
                }
            }
            .score-highlight-body {
                font-family: $brainjocks-font-primary;
                font-size: 17px;
                font-weight: normal;
                line-height: 26px;
                margin-bottom: 20px;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
        .score-call-to-action {
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
    }
}
.career-cards {
    .score-highlight {
        margin-bottom: 30px;
        border-left: 6px solid $brainjocks-primary;
        @media screen and (min-width: $screen-md-min) {
            height: 560px;
        }
        .caption {
            padding: 30px;
            overflow: auto;
            @media screen and (min-width: $screen-lg-min) {
                padding: 60px;
            }
        }
    }
}