# copy this file to .env.development and .env.production
# changing any values to match your own
CONTENTSTACK_API_KEY='yourapikey'
CONTENTSTACK_ACCESS_TOKEN='youraccesstoken'
CONTENTSTACK_ENVIRONMENT='yourenvironment'

# to add GraphQl playground add this variable to .env.development
GATSBY_GRAPHQL_IDE=playground
#In terminal run npm install --save-dev env-cmd
#In package.json replace develop with "develop": "env-cmd -f .env.development gatsby develop",